header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
}
.logo {
    background: url("../images/logo.png") no-repeat;
    background-position: left;
    display: block;
    height: 100%;
    margin-left: 20px;
}

